body{
    background-color: rgba(252, 183, 174, 0.13);
}

.blog-wrapper{
    padding-top: 1rem;
}

.post{
    background-color: white;
    border: 1px solid #EAECEF;
    margin-bottom: 0.3rem;
    padding: 1rem;
}

.post-text{
    display: none;
}