{% extends 'index.html'%}
{% load staticfiles %}
{% block title %}
    <title>О нас</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block cart %}
    <a class="cart_link" href="{% url 'cart' %}">
        <img src="{% static 'png/shopping-bag.png' %}" alt="">
        <button class="items-count">{{ cart }}</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- content main container: centers everything -->

        <div class="gallery">
            <!-- gallery -->
            

            {% for item in gallery %}
                <div class="card d-none">
                    <!-- image and description card -->

                    <img class="card-image" src="{{ item.image.url }}" alt="">
                    <!-- image -->

                    <div class="card-body">
                        <!-- image description container-->
                        <div class="row">
                            <!-- controllers -->

                            <div class="col-sm-6 controller previous">
                                <!-- previous slide -->
                                <img src="{% static 'png/prev.png' %}" alt="Предыдущий">
                            </div>
                            
                            <div class="col-sm-6 controller next">
                                <!-- next slide -->
                                <img src="{% static 'png/next.png' %}" alt="Следующий">
                            </div>
                        </div>
                        
                        <h6>{{ item.description }}</h6>
                        
                    </div><!-- end image description container-->

                </div><!-- end image and description card -->
            {% endfor %}

            <div class="about_us">
                <!-- 'about us' text container-->
                
                <p>{{ description.description }}</p>
            </div><!-- end 'about us' text container-->
        
        </div><!-- end gallery -->
    
    </div><!-- end content main container -->
{% endblock %}

{% block js %}
    <script src="{% static 'js/about_us.js' %}"></script>
{% endblock %}