{% extends 'index.html'%}
{% load staticfiles %}
{% block title %}
    <title>О нас</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'js/gallery/gallery.css' %}">
{% endblock %}

{% block cart %}
    <a class="cart_link" href="{% url 'cart' %}">
        <img src="{% static 'png/shopping-bag.png' %}" alt="">
        <button class="items-count">{{ cart }}</button>
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- content main container: centers everything -->

        <div class="container-gallery">
            <!-- gallery -->
            

            {% for item in gallery %}
                <img src="{{ item.image.url }}" alt="">
            {% endfor %}
        
        
        </div><!-- end gallery -->
        <div class="about_us">
            <!-- 'about us' text container-->
            <p>{{ description.description }}</p>
            
        </div><!-- end 'about us' text container-->
    
    </div><!-- end content main container -->
{% endblock %}

{% block js %}
    <script src="{% static 'js/gallery/gallery.js' %}"></script>
    <script src="{% static 'js/about_us.js' %}"></script>
{% endblock %}